@import url('https://fonts.googleapis.com/css?family=Acme|Amatic+SC|Barlow+Condensed|Caveat|Dosis|Fjalla+One|Indie+Flower|Merriweather+Sans|Open+Sans+Condensed:300|Shadows+Into+Light&display=swap');

header {
    background-color: #3b4654;
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom: 10px solid black;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1rem;
  
}

.assignLinks {
    font-size: 2em;
}

body {
    font-family: 'Shadows Into Light', cursive;
    margin-left: 50px;
    margin-right: 50px;
}    

#selfPhoto {
    float: right;
    
    width: 250px;
    box-shadow: 5px 5px 5px;
    
    margin-right: 50px;
    margin-bottom: 50px;
}
footer{
    background-color: #3b4654;
    text-align: center;
    padding: 10px;
    font-size: 1.25em;
    color: white;
}
footer a {
    color: white;
}