@media only screen and (min-width: 63em) {

    nav ul li a {
        padding: .6rem 1rem;
    }
header img {
    width: 10%;
}
main {
    margin-right: 248px;
    margin-left: 248px;
    margin-top: 25px;
}

footer {
    margin-right: 248px;
    margin-left: 248px;
    margin-top: 25px;
}
}