@media only screen and (min-width: 37.5em) {
    header img {
        margin-top: 6px;
        margin-bottom: 6px;
    }
    nav onclick {
        display: none;
    }
    .response li{
        display: block;
      }
    
    .navigation {
        display: flex; 
     }
      .navigation li:first-child {
         display: block;
     }
 
     .navigation li {
         display: block;
         flex: 1 1 100%;
     }
    }