@media only screen and (min-width: 32.5em) {
    .menu {
       display: flex; 
    }
}
    .menu li:first-child {
        display: none;
    }

    .menu li {
        display: block;
        flex: 1 1 100%;
    }
