/* -----------------------small css------------------------*/
body{
    display: grid;
    grid-gap: 10px;
    justify-content:center;  
}
main{
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    box-shadow: 0 0 20px #000;
}
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0;
}
section {
    display: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(236, 237, 245);
    border: 2px solid rgb(51, 51, 54);
    padding: 10px;
    margin: 10px;
}
h2 {
    color: #333333;
    font-size: xx-large;
    margin: 0;
}
p {
    margin: 0;
}
img {
    box-shadow: 0 0 20px #000;
    margin-top: 10px;
    height: 200px;
}
footer{
    text-align: center;
}
@media only screen and (min-width: 37.5em){
    body {
       grid-template-columns: auto auto; 
       grid-template-rows: auto auto auto auto auto auto;
    }
}
@media only screen and (min-width: 60em) {
}