table {
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 5px 5px 10px 0 #628ca6;
    border-collapse: collapse;
}
table, tr, td {
    border: thin;
    border-color: #e7f0ed;
}
.header, .footer {
    background-color: #7fb9c2;    
}
.header {
    font-weight: bold;
    font-size: x-large;
}
#titles {
    background-color: #628ca6;
    color: white;
    font-weight: bold;
}
.data1 {
    background-color: #e7ffed;
}
.data2 {
    background-color: #e7f0ed;
}
#bf {
    font-style: italic;
}
#bfcost {
    text-align: center;
}

.footer {
    font-size: x-small;
    text-align: center;
}