@media only screen and (min-width: 63em) {
   
#bbq {
    background-color: #E1F4F3;
    width: 100%;
    height: 50px;
    font-family: 'Shadows Into Light', cursive;
    color: #333333;
}
    nav ul li a {
    padding: .6rem 1rem;
}
.forecastcontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.fcheader {
    display:flex;
    flex-direction: row;
    background-color: #333333;
    height: 40px;
    
}
.fcbox {
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 150px;
    border:solid #706c61;
    border-width: thin;
}
 .day {
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    font-family: 'Shadows Into Light', cursive;
}
#sunlogo {
    width: 65px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 33px;
}
.temp {
    font-size: x-large;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    text-align: center;
    color: #706c61;

}


 }  


