@media only screen and (min-width: 60em) {
    #logo {
        padding: 10px;
        width: 8%;
    }

    #companyname {
        font-size: 4vw;
    }

    #motto {
        font-size: 3vw;
    }
.navigation {
    font-size: 25px;
}
#welcomemessage {
    font-size: 2vw;
    }
.activityheading {
    font-size: 2vw;
}
.activitytext{
    font-size: 1.5vw;
}
}