@media only screen and (min-width: 60em) {
    #logo {
        padding: 10px;
        width: 8%;
    }

    #companyname {
        font-size: 70px;
    }

    #motto {
        font-size: 40px;
    }
.navigation {
    font-size: 25px;
}
#welcomemessage {
    font-size: 30px;
    }
.activityheading {
    font-size: 25px;
}
.activitytext{
    font-size: 18px;
}
}