body {
    background-color: #DEE3E2;
}

img {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: auto;
    background-color: #116979;
}

/*#headerimg {
    width: 100%;
    height: 300px;
}*/
#logo {
    width: 30%;
    float: left;
    padding-right: 15px;
    margin: 10px;
}

#title {
    width: 80%
}

#companyname {
    font-family: 'Gochi Hand', cursive;
    color: white;
    font-size: 30px;
    margin: 0px;
    padding-top: 20px;

}

#motto {
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
    margin: 0px;
    color: white;

}
#social{
    float: right;
   
}

/*nav.clearfix {
    width: 100%;
    margin: 0px;
}*/

.navigation {
    margin: 0 auto;
    /*width: 100%;*/
    background-color: #DE7119;
    font-family: 'Comic Neue', cursive;
    color: white;
    font-size: 15px;
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navigation li {
    display: none;
}

.navigation li:first-child {
    display: block;

}

/*nav onclick {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid white;

}

nav ul li.active a {
    background-color: white;
    color: #116979;
}

nav ul li a:hover {
    background-color: #18B0B0;
}

#homecontainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: white;
    margin: 30px;
}

#home-a {
    border: 5px solid #18B0B0;
    margin: 15px;
}

#welcomemessage {
    font-family: 'Comic Neue', cursive;
    color: #116979;
    padding: 15px;
    margin: none;
}

#home-a {
    border: 5px solid #18B0B0;
    margin: 15px;
}

#home-b {

    padding: 15px;
}

#mainpic {
    width: 100%;
    border: 2px solid #DEE3E2;
}

#home-c {

    margin: 15px;
}

#home-d {

    margin: 15px;
}

#home-e {

    margin: 15px;
}

.activityheading {

    font-family: 'Gochi Hand', cursive;
    color: #116979;
    padding-top: 20px;
    margin: 0px;
}

.activitytext {
    margin: 0;
    font-family: 'Comic Neue', cursive;
}

.activitypic {
    max-width: 100%;
    border: 2px solid #DEE3E2;
}

footer {
    background-color: #116979;
    color: white;
}
#weatherbox {
    float: right;
    font-family: 'Comic Neue', cursive;
    padding-right: 15px;
    padding-top: 15px;
}
th {
    font-family: 'Gochi Hand', cursive;
    font-size: 20px; 
}

#contactinfo {
    font-family: 'Gochi Hand', cursive;
    margin: 0px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;

}

#address {
    font-family: 'Comic Neue', cursive;
    margin: 0px;
    padding-left: 15px;
}
#phone {
    font-family: 'Comic Neue', cursive;
    margin: 0px;
    padding-left: 15px;
}

#info {
    font-family: 'Comic Neue', cursive;
    padding-left: 15px;
    padding-bottom: 15px;
}

/*------------------------------------------------------reservations form start------------------------------------------------------------------------------*/
form fieldset {
    margin: 2rem 0;
    padding: .5rem 2%;
    font-family: 'Comic Neue', cursive;
    border: none;
  
  }
  
  form legend {
    color: #116979;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1vw;
  }
  
  form label.top,
  form div {
    display: block;
    padding-top: 1.5rem;
    color: #116979;
    font-size: 1vw;
  }
  
  form label.top input,
  form label.top select {
  
    display: block;
    font-size: 1rem;
    padding: .75rem;
    width: 100%;
    color:#116979;
    max-width: 20rem;
    background-color: white;
  }
  
  form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #116979;
  }
  
  form input.submitButton {
   
    background-color:  #DE7119;
    color: white;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-family: 'Comic Neue', cursive;
    font-size: 1vw;
  }
  textarea {
      font-size: 75%;
  }
  #thankyou {
    height: 500px;
  
  }
  #thankyoup {
    font-family: 'Comic Neue', cursive;
    font-size: 50px;
  }
 /*-----------------------------------------------------------------reservations form end---------------------------------------------------------------*/ 
 /*-----------------------------------------------------------------contact page start---------------------------------------------------------------*/
 #map {
    color: #DE7119;
    font-family: 'Comic Neue', cursive;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 2vw;
}
#map-p{
    margin: 0px;
}
#maplink {
    font-size: 1vw;
}
 #contactmain {
     background-color: white;
  }
 #contact {
    font-family: 'Comic Neue', cursive;
    padding-left: 30px;
    color:#116979;
    padding-top: 20px;
    font-size: 2vw;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 15px;
 }
 #contactp {
    font-family: 'Comic Neue', cursive;
    padding-left: 30px;
    color:#116979;
    font-size: 1vw;
    margin: 0px;
 }
 .socialmedia {
     height: 30px;
     width: 30px;
 }
 
 /*-----------------------------------------------------------------contact page end-------------------------------------------------------------------*/
.responsive li {
    display: block;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}