body {
    background-color: #DEE3E2;
}

.header {
    width: 100%;
    background-color: #116979;
}

#headerimg {
    width: 100%;
    height: 300px;
}
#logo{
    width: 20%;
    float: left;
    padding-right: 15px;
    margin:10px;
}
#title {
    width:80%
}
#companyname {
    font-family: 'Gochi Hand', cursive;
    color: white;
    font-size: 5vw;
    margin: 0px;
    padding-top: 20px;
    
}

#motto {
    font-family: 'Comic Neue', cursive;
    font-size: 4vw;
    margin: 0px;
    color: white;
    
}

.navigation {
    width: 100%;
    background-color: #DE7119;
    font-family: 'Comic Neue', cursive;
    color: white;
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .navigation li {
    display: none;
  }
  .navigation li:first-child {
    display: block;
      
  }
nav onclick {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline;
}
nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: white;
  
}

nav ul li.active a {
  background-color:  #706c61;
  color: white;
}
nav ul li a:hover {
  background-color:  #DE7119;
}

.responsive li {
    display: block;
  }

#homecontainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: white;
    margin: 30px;
}

#home-a {
   border: 2px solid black;
}

#welcomemessage {
    font-family: 'Comic Neue', cursive;
    color: #116979;
    padding: 15px;
    margin: none;
}

#home-b {
    
    border: 2px solid black;
    padding: 15px;
}
#mainpic{
    width: 100%;
}

#home-c {
    border: 2px solid black;
    margin: 15px;
}
#home-d {
   border: 2px solid black;
   margin: 15px;
}
#home-e {
    border: 2px solid black;
    margin: 15px;
}
#home-f {
    border: 2px solid black;
    margin: 15px;
}
#home-g {
    border: 2px solid black;
    margin: 15px;
}
#home-h {
    border: 2px solid black;
    margin: 15px;
}
.activityheading {
    background-color: #DE7119;
    font-family: 'Gochi Hand', cursive;
    margin: 0px;
}

.activitytext {
    font-family: 'Comic Neue', cursive;
}
.activitypic {
    max-width: 100%;
}

footer {
    background-color: #18B0B0;
}

#contactinfo {
    font-family: 'Gochi Hand', cursive;
}

#address {
    font-family: 'Comic Neue', cursive;
}

#info {
    font-family: 'Comic Neue', cursive;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }