body {
    background-color: #DEE3E2;
}
img {
    width: 100%;
    height: auto;
}
.header {
    width: 100%;
    height: auto;
    background-color: #116979;
}

/*#headerimg {
    width: 100%;
    height: 300px;
}*/
#logo{
    width: 30%;
    float: left;
    padding-right: 15px;
    margin:10px;
}
#title {
    width:80%
}
#companyname {
    font-family: 'Gochi Hand', cursive;
    color: white;
    font-size: 30px;
    margin: 0px;
    padding-top: 20px;
    
}

#motto {
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
    margin: 0px;
    color: white;
    
}
/*nav.clearfix {
    width: 100%;
    margin: 0px;
}*/

.navigation {
    margin: 0 auto;
    /*width: 100%;*/
    background-color: #DE7119;
    font-family: 'Comic Neue', cursive;
    color: white;
    font-size: 15px;
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .navigation li {
    display: none;
  }
  .navigation li:first-child {
    display: block;
      
  }
/*nav onclick {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}*/
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline;
}
nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: white;
  border-top: 1px solid white;
  
}

nav ul li.active a {
  background-color:  white;
  color: #116979;
}
nav ul li a:hover {
  background-color:  #18B0B0;
}

#homecontainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: white;
    margin: 30px;
}

#home-a {
   border: 5px solid  #18B0B0;
   margin: 15px;
}

#welcomemessage {
    font-family: 'Comic Neue', cursive;
    color: #116979;
    padding: 15px;
    margin: none;
}
#home-a {
    border: 5px solid  #18B0B0;
    margin: 15px;
 }

#home-b {
    
    padding: 15px;
}
#mainpic{
    width: 100%;
    border: 2px solid #DEE3E2;
}

#home-c {
   
    margin: 15px;
}
#home-d {
   
   margin: 15px;
}
#home-e {
    
    margin: 15px;
}

.activityheading {
    
    font-family: 'Gochi Hand', cursive;
    color: #116979;
    padding-top: 20px;
    margin: 0px;
}

.activitytext {
    margin: 0;
    font-family: 'Comic Neue', cursive;
}
.activitypic {
    max-width: 100%;
    border: 2px solid #DEE3E2;
}

footer {
    background-color: #116979;
    color: white;
}

#contactinfo {
    font-family: 'Gochi Hand', cursive;
    margin: 0px;

}

#address {
    font-family: 'Comic Neue', cursive;
    margin: 0px;
}

#info {
    font-family: 'Comic Neue', cursive;
}

.responsive li {
    display: block;
  }
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }